.table-monitoring-header .add-loan{
    margin-bottom: 10px;
    background-color: #4F959D;
    color: white;
    padding: 8px 30px 8px 30px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.table-monitoring-header .btn-archive{
  margin-bottom: 10px;
  background-color: #585e5e;
  color: white;
  padding: 8px 30px 8px 30px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.add-loan:hover{
    background-color: #34767d;
}

.table-monitoring-header{
    width: auto;
}

/* add form */
.popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #F6F8D5;
  color: #205781;
  padding: 20px 50px 20px 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 60%;
  
  
    
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 40px;
  cursor: pointer;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    
  }
  
  .form-group label {
    color: #5B6D75;  /* Muted Blue */
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;  /* Space between label and input */
    display: block;  /* Ensures proper alignment */
}
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .button-group {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    gap: 5px;
  }
  
  .button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  

  .button-group .btn-submit {
    background-color: #4F959D;
    color: white;
  }
  .button-group .btn-cancel {
    background-color: gray;
    color: black;
  }
  
  .button-group .btn-submit:hover {
    background-color: #34767d;
  }

  .button-group .btn-cancel:hover {
    background-color: rgb(80, 80, 80);
    
  }

  .actions button{
    background: none;
  }

  .actions i{
    font-size: 20px;
  }

  .actions button:hover{
    cursor: pointer;
  }

  .actions button{
    padding: 8px 30px 8px 30px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
  }

  .toggle-container {
    display: flex;
    gap: 10px;
}

.toggle-btn {
    padding: 8px 16px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.toggle-btn.active {
    text-decoration: underline saddlebrown;
    color: black;
}

  