@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

      /* colorpalette 
      #205781 bluemine
      #4F959D Wedgewood
      #98D2C0 Sinbad
      #F6F8D5 Coconut Cream */

      * {
        margin: 0;
        padding: 0;
        font-family: "Montserrat";
        border: none;
        outline: none;
        box-sizing: border-box;
      }

      .main{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;

      }

      .sidebar{
        position: sticky;
        top: 0;
        left: 0;
        bottom: 0;
        width: 105px;
        height: 100vh;
        padding: 0 1.7rem;  
        overflow: hidden;
        color: #F6F8D5;
        transition: all 0.5s linear;
        background-color: #205781 ;
      }

      .sidebar:hover{
        width: 230px;
        transition: 0.5s ease-in;
      }

      .logo{
        height: 80px;
        padding-top: 15px;
        width: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
       
        overflow: hidden;
      }

      .logo img{
        height: 50px;
        width: 50px;
      }

      .menu{
        height: 88%;
        position: relative;
        list-style: none;
        padding: 0;
        width: 100%;
      }

      .menu li{
        padding: 14px;
        margin: 5px 0;
        border-radius: 8px;
        transition: all 0.5s ease-in-out;
      }

      .menu li:hover, .active{
        background-color: #4F959D;
      }

      .menu a {
        color: #F6F8D5;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .menu a span{
        overflow: hidden;
      }

      .menu a i{
        font-size: 15px;
      }

      

      .logout{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        
      }

      /*main content */
      .content{
        position: relative;
        width: 100%;
        background-color: #ebe9e9;
        padding: 15px;
      }

      .content-header img{
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 50%;
      }

      .content-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: rgb(250, 250, 250);
        border-radius: 10px;
        
        padding: 10px 32px;
        margin-bottom: 16px;
      }

      .header-title{
        color: #205781;
      }

      .user-info{
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .filter-search{
        display: flex;
        flex-direction: row;
        gap: 5px;
      }

      .date{
        background-color: whitesmoke;
        border: 0.2px solid rgb(190, 180, 180);
        color: gray;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 4px 12px;
        height: 35px;
      }

      .search-field{
        background-color: whitesmoke;
        border: 0.2px solid rgb(190, 180, 180);
        border-radius: 20px;
        color: gray;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 4px 12px;
        height: 35px;
      }

      .search-field input{
        background: transparent;
        padding: 6px;
        
      }

      .search-field i {
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.5s ease-out;
      }

      .search-field i:hover{
        transform: scale(1.1);
      }

      /* card container */
      .card-container{
        background-color: rgb(250, 250, 250);
        padding: 32px;
        border-radius: 10px;
      }

      .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
      }

      .card-title{
        color: #205781;
        padding-bottom: 5px;
        font-size: 20px;
      }

      .card-title strong{
        font-size: 24px;
        font-weight: 800;
      }

      .card{
        background-color: #e3f2fd;
        border-radius: 10px;
        padding: 20px;
        width: 250px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.5s ease-in-out;
      }

      .card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      .total{
        display: flex;
        flex-direction: column;
      }

      .title{
        font-size: 14px;
        font-weight: 200;
      }

      .total-value{
        font-size: 26px;
        font-weight: 600;
      }

      .icon{
        padding: 16px;
        height: 60px;
        width: 60px;
        text-align: center;
        border-radius: 50%;
        font-size: 24px;
        background: #205781;
        color: white;
      }

      .card-detail{
        font-size: 18px;
        color: #205781;
        letter-spacing: 1.5px;
      }

      .light-green{
        background-color: #e8f5e9;
      }

      .light-red{
        background-color: #ffebee;
      }

      .light-orange{
        background-color: #fff3e0;
      }

      /* tab */
      .tab-container {
        display: flex;
        gap: 10px;
        /* border-bottom: 2px solid #ccc; */
        margin-bottom: 10px;
    }
    
    .tab {
        padding: 5px 20px;
        cursor: pointer;
        border: none;
        background: none;
        font-weight: bold;
        /* transition: all 0.3s; */
        color: #205781;
        font-size: 16px;
    }

    .tab:hover{
      border-bottom: 3px solid #4F959D;
      color: #205781 ;
    }
    
    .tab.active {
        border-bottom: 3px solid #4F959D;
        color: #205781 ;
    }
    
    .tab-content {
        display: none;
    }
    
    .tab-content.show {
        display: block;
    }


      /*table*/

      .table-container{
        background-color: rgb(250, 250, 250);
        margin-top: 16px;
        border-radius: 10px;
        padding: 28px 32px 28px 32px;
      }

      .table-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .table-header a{
        color: rgb(99, 98, 98);
        font-size: 14px;
      }

      .table{
        width: 100%;
      }

      table{
        width: 100%;
        border-collapse: collapse;
      }

      thead{
        background: #205781;
        color: #F6F8D5;
      }

      th{
        padding: 15px;
        text-align: left;
      }

      tbody{
        background-color: #f2f2f2;
      }

      td{
        padding: 15px;
        font-size: 15px;
        color: rgb(32, 32, 32);
        font-weight: 500;
      }

      tr:nth-child(even){
        background-color: #F6F8D5;
      }

      tfoot{
        
        background-color: #205781;
        font-weight: bold;
        color: #F6F8D5;
      }

      tfoot td{
        padding: 15px;
      }

      /* .table-container button{
        color: #4F959D;
        background: none;
        cursor: pointer;
      } */

      .pagination-container {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        font-weight: 400;
      }
      
      .pagination-container select, .pagination-container button {
        padding: 5px 10px;
        font-size: 14px;
        /* border-radius: 5px; */
      }
    
      .pagination-container button {
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
      }
    
      .pagination-container button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
