{% extends "base.html" %}

{% block content %}

<div class="content-header">
  <div class="header-title">
    <span>Saytan Savings and Credit Cooperative</span>
    <h2>Term Loan Monitoring Table</h2>
  </div>
  <div class="user-info">
    <h4 style="color: #205781;">{{username}}</h4>
    <img src="{{ url_for('static', filename='images/coop.png') }}" alt="">
  </div>
</div>

<div class="table-container">
  <div class="table-header">
    <h3 class="card-title" style="font-size: 20px;">{{ loan.lender_name }} - Term Payment until the Month of {{ loan.due_date.strftime('%B %Y') }}</h3>
  </div>

  <div class="form-container">
    <h2></h2>
    <form action="" method="post" id="loanForm" style="padding-top: 10px;">
      
      <p style="padding-bottom: 5px;"><strong>Due Date:</strong>  {{ loan.due_date.strftime('%B %d, %Y') }}</p>
      <p style="padding-bottom: 5px;"><strong>Loan Amount:</strong> &#8369;{{ '{:,.2f}'.format(loan.loan_amount or 0.0) }}</p>
      <p style="padding-bottom: 5px;"><strong>Paid Amount:</strong> &#8369;{{ '{:,.2f}'.format(loan.paid_amount or 0.0) }}</p>
      <p style="padding-bottom: 5px;"><strong>Remaining Balance: </strong> &#8369;{{ '{:,.2f}'.format(remaining_balance or 0.0) }}</p>
  
      <div class="form-group" style="padding-top: 15px;">
        <label for="paid_amount">Enter Amount to Pay</label>
        <input type="number" step="0.01" id="paid_amount" name="paid_amount" >
      </div>
  
      <div class="button-group" style="display: flex; justify-content: start;">
        <button type="submit" class="btn-submit">Submit Payment</button>
        <button type="button" class="btn-cancel" onclick="window.history.back().reload;">Back</button>
      </div>
    </form>
  </div>
</div>

<script>
  function processFullPayment(loanMonthsId) {
    fetch(`/full_payment/${loanMonthsId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        alert(data.message);
        // Optionally, refresh the page or redirect
        window.location.reload();  // Refresh the page after successful full payment
      } else {
        alert(data.message);
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('An error occurred while processing the payment.');
    });
  }
</script>


{% endblock %}
