{% extends "base.html" %}

{% block content %}
        <div class="content-header">
          <div class="header-title">
            <span>Hello, {{ username }}!</span>
            <h2>SSCC Dashboard</h2>
          </div>
          <div class="user-info">
            <div >
              <!-- <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search"> -->
            <h4 style="color: #34767d;">Saytan Savings and Credit Cooperative</h4>
          </div>
          <img src="../static/images/coop.png" alt="">
          </div>
        </div>
        <div class="card-container">
          <h3 class="card-title">Loan Monitoring Overview</h3>
          <div class="card-wrapper">
            <div class="card">
              <div class="card-header">
                <div class="total">
                  <span class="title">Total Active Loans</span>
                  <span class="total-value">24</span>
                </div>
                <i class="fa-solid fa-chart-simple icon"></i>
              </div>
              <span class="card-detail">Total Active Loans</span>
            </div>

            <div class="card light-green">
              <div class="card-header">
                <div class="total">
                  <span class="title">Total Paid Loans</span>
                  <span class="total-value">24</span>
                </div>
                <i class="fa-solid fa-calendar-check icon"></i>
              </div>
              <span class="card-detail">Total Paid Loans</span>
            </div>

            <div class="card light-red">
              <div class="card-header">
                <div class="total">
                  <span class="title">Overdue Loans</span>
                  <span class="total-value">24</span>
                </div>
                <i class="fa-solid fa-triangle-exclamation icon"></i>
              </div>
              <span class="card-detail">Overdue Loans</span>
            </div>

            <div class="card light-orange">
              <div class="card-header">
                <div class="total">
                  <span class="title">Total Users</span>
                  <span class="total-value">24</span>
                </div>
                <i class="fa-solid fa-users icon"></i>
              </div>
              <span class="card-detail">Total Users</span>
            </div>

          </div>
        </div>

        <div class="table-container">
          <div class="table-header">
            <h3 class ="card-title">Loan Monitoring Data</h3>
          <a href="{{ url_for('superadmin_monitoring') }}">Go to Page</a>
          </div>
          
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Lender</th>
                  <th>Loan Amount</th>
                  <th>Application Date</th>
                  <th>No. of Months to Pay</th>
                  <th>Monthly Payment</th>
                  <th>Status</th>
                  
                </tr>
                <tbody>
                  {% for loan in loans %}
                  <tr>
                    <td>{{ loan.lender_name }}</td>
                    <td>&#8369;{{ loan.amount }}</td>
                    <td>{{ loan.application_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ loan.months_to_pay }}</td>
                    <td>&#8369;{{ loan.monthly_payment }}</td>
                    <td>{{loan.status}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6" style="font-size: 16px; font-weight: 400; color: whitesmoke;">Total No. of Application: {{ total_applications }} <br> Total Amount Loaned: &#8369;{{ total_amount }}</td>
                    <!-- <td colspan="2"><strong>Total Applications:</strong> {{ total_applications }}</td> -->
                  </tr>
                </tfoot>
              </thead>
              
            </table>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>


    <script>
      function confirmLogout() {
          Swal.fire({
              title: "Are you sure?",
              text: "You will be logged out!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, logout!"
          }).then((result) => {
              if (result.isConfirmed) {
                  window.location.href = "{{ url_for('logout') }}";
              }
          });
      }
      </script>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <script>
      Swal.fire({
        title: "{{ category.title() }}!",
        text: "{{ message }}",
        icon: "{{ category }}" == "danger" ? "error" : "{{ category }}",
      });
    </script>
    {% endfor %} {% endif %} {% endwith %}
  </body>
</html>
